body {
    background-color: #f2d18a;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
    color: #000000;
    text-align: center;
	font-size: 70px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	letter-spacing: 3px;
	text-shadow: 3px 2px #ffffff;
}

h2 {
	color: #000000;
    text-align: center;
	font-size: 40px;
	font-family: verdana;
}

h3 {
	color: #000000;
    text-align: center;
	font-size: 25px;
	font-family: verdana;
}

p {
	color: #000000;
	font-size: 15px;
	text-align: center;
	font-family: verdana;
}

a {
	color: #000000;
	font-size: 30px;
	font-family: Georgia, serif;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	background-color: #000000
}

ul {
	background-color: #ffffff;
	list-style-type: none;
    padding: 20px;
    width: 125px;
	text-align: right;
	position: fixed;
}

nav li {
	text-align: right;
}

li {
	text-align: center;
}

footer {
	background-color: #665726;
	color: #ffffff;
    font-family: verdana;
    font-size: 15px;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;	
}

table {
    border: 1px solid black;
}

th, td {
    padding: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrap {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 60%;
}