/*
	CIS166AA: CSS Styles
	Author: Jessica Churchill
	Date: 10/19/2018
*/

body {
    background-color: #f2d18a;
	margin: 0;
	width: 100%;
}

h1 {
	color: #000000;
    text-align: center;
	font: 7em/0.8 'Cookie', cursive;
	margin-top: 15px;
	margin-bottom: 0;
	letter-spacing: 3px;
	text-shadow: 3px 2px #979899;
}

h2 {
	color: #000000;
    text-align: center;
	font-size: 2.4em;
	font-family: 'Source Sans Pro', verdana;
	margin-bottom: 0;
}

h3 {
    color: #000000;
    text-align: center;
	font-size: 2.5em;
	font-family: georgia;
	margin-top: 0px;
	margin-bottom: 0;
}

p {
	color: #000000;
	font-size: 1.2em;
	font-family: 'Source Sans Pro', verdana;
}

a {
	color: #3d7a7a;
	font-size: 0.8em;
	font-family: georgia, serif;
	text-decoration: none;
}

h3 a {
	color: #3d7a7a;
	font-size: 0.7em;
	font-family: georgia, serif;
	text-decoration: none;
}

a:hover {
	color: #75aea7;
}


nav a {
	color: #000000;
	font-size: 1.85em;
	font-family: georgia, serif;
	text-decoration: none;
}

nav a:hover {
	color: #ffffff;
	background-color: #000000
}

#main {
	background-color: #ffffff;
	width: 70%;
	height: 100%;
	margin-left: 15%;
	margin-top: -3.5px;
	display:inline-block;
	box-shadow: 0 1px 6px #000000;
}

nav ul {
	background-color: #ffffff;
	list-style-type: none;
    padding: 20px;
    width: 10.9em;
	text-align: right;
	position: fixed;
	box-shadow: 0 0 6px #000000;
}

nav li {
	text-align: right;
	font-size: 1em;
}


li {
	text-align: left;
	font-size: 1.05em;
	font-family: 'Source Sans Pro', verdana;
}

footer {
	background-color: #3d7a7a;
	color: #ffffff;
    font-family: 'Source Sans Pro', georgia;
    font-size: 0.95em;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;	
}

table.recipeTable {
    border: 1px solid black;
}

table.recipeTable th, td {
    padding: 15px;
}

table.contactTable {
	border: 2px solid black;
	background-color: #dbdbdb;
	padding: 20px;
	font-size: 1.2em;
	font-family: 'Source Sans Pro', verdana;
}

table.contactTable input[type=text], input[type=email], input[type=number], select, textarea {
	width: 100%;
    padding:3px 5px;
    border: 1px solid #adadad;
    margin-top: 0px;
    margin-bottom: 15px;
}

table.contactTable input[type=checkbox], input[type=radio] {
    margin-bottom: 15px;
}


table.contactTable input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

table.contactTable button {
	background-color: #ffffff;
	font-family: 'Source Sans Pro', georgia;
	font-size: 0.85em;
	font-weight: bold;
	line-height: 25px;
	padding: 0 10px;
	border: 1px solid black;
}

table.contactTable button:hover {
	background: #75aea7;
}

table.propTable {
	border-collapse: collapse;
	border: 2px solid black;
}

table.propTable th, table.propTable td {
	background-color: #dbdbdb;
	border: 2px solid black;
    padding: 20px;
	font-size: 1.2em;
	font-family: 'Source Sans Pro', verdana;
}

table.propTable th {
    background-color: #3d7a7a;
	font-size: 1.35em;
}

button {
	background-color: #3d7a7a;
	font-family: 'Source Sans Pro', georgia;
	font-size: 0.85em;
	font-weight: bold;
	line-height: 25px;
	padding: 0 10px;
	border: 1px solid black;
}

button:hover {
	background: #75aea7;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.wrap {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 75%;
}

/* cookie-regular - latin */
@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: url('Fonts/cookie-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cookie-Regular'),
       url('Fonts/cookie-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Fonts/cookie-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Fonts/cookie-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('Fonts/cookie-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('Fonts/cookie-v8-latin-regular.svg#Cookie') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('Fonts/source-sans-pro-v11-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
       url('Fonts/source-sans-pro-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Fonts/source-sans-pro-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('Fonts/source-sans-pro-v11-latin-300.woff') format('woff'), /* Modern Browsers */
       url('Fonts/source-sans-pro-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('Fonts/source-sans-pro-v11-latin-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}